<div class="p-5 mb-4 bg-light rounded-3">
<div class="container-fluid py-5">
  <h1 class="display-5 fw-bold">Blog Posts</h1>
  <p class="col-md-8 fs-4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt,
    voluptas perspiciatis debitis alias dolore id dolores ipsam eligendi
    dignissimos. Eius voluptatem quis quam aperiam ullam alias ea vel
    facilis.
  </p>
  <%= link_to 'View Articles', articles_path, class:"btn btn-dark btn-lg"%>


 